{% extends "base.html" %}

{% block body_id %}aboutme{% endblock %}

{% block body_class %}container{% endblock %}

{% block content %}

    <div class="row">
        <div class="left">
            Name {{ person.name }}
        </div>
        <div class="right">
            Contacts: {{ person.contacts }}
        </div>


    </div>

    <div class="row">
        <div class="left">
            Last name {{ person.last_name }}
        </div>
        <div class="right">
            Email: {{ person.email }}
        </div>


    </div>
    <div class="row">

        <div class="right">
            Jabber: {{ person.jabber }}
        </div>


    </div>
    <div class="row">
         <div class="left">
            Date of birth {{ person.birthday }}
        </div>
        <div class="right">
             Skype {{ person.skype }}
        </div>


    </div>
    <div class="row">
         <div class="left">
            Bio <p>
            {{ person.bio }}
         </p>
        </div>
        <div class="right">
               Other contacts:
    <p>
            {{ person.other_contacts }}

    </p>
        </div>


    </div>

{% endblock %}