{% extends "base.html" %}
{% load edit_link %}
{% block body_id %}aboutme{% endblock %}

{% block body_class %}container{% endblock %}

{% block login %}
    <div class="login">
            {% if user.is_authenticated %}
                <a href="{% url "edit_form" %}">Edit</a>
                 ({% edit_link person %})
                <a href="{% url "logout"  %}">Logout</a>
            {% else %}
                <a href="{% url "login" %}">Login</a>
            {% endif %}
    </div>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-6">
            <h4>Name: {{ person.name }}</h4>
            <h4>Last name: {{ person.last_name }}</h4>
            <h4>Date of birth: {{ person.birthday }}</h4>
            <h4>Photo:</h4> <p>
             {% if person.photo %}
                <img src="{{ person.photo.url }}" alt="">
             {% endif %}

        </div>
        <div class="col-md-6">
           <h4> Contacts: {{ person.contacts }}</h4>
            <h4>Email: {{ person.email }}</h4>
            <h4>Jabber: {{ person.jabber }}</h4>
            <h4>Skype: {{ person.skype }}</h4>
             <h4>Other contacts:</h4>
            <p>
            {{ person.other_contacts }}
            </p>
            <h4>Bio:</h4>
            <p>
                {{ person.bio }}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <hr class="line">
            <a href="{% url "requests_list" %}">Requests</a>
        </div>
    </div>
{% endblock %}