{% extends "base.html" %}

{% load static %}

{% block body_id %}aboutme{% endblock %}

{% block body_class %}container{% endblock %}

{% block content %}
    <form class="form-horizontal"  id="edit_form" action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}" class="col-sm-3">Name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="{{ form.name.auto_id }}" name="{{ form.name.html_name }}">
                    <label class="error"></label>
                </div>



            </div>
            <div class="form-group">
                <label for="id_last_name" class="col-sm-3">Last name:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="{{ form.last_name.auto_id }}" name="{{ form.last_name.html_name }}">
                    <label class="error"></label>
                </div>
            </div>
            <div class="form-group">

            <label for="{{ form.birthday.id_for_label }}" class="col-sm-3">Date of birth:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="{{ form.birthday.auto_id }}" name="{{ form.birthday.html_name }}">
                    <label class="error"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="id_photo" class="col-sm-3">Photo:</label>

                <div class="col-md-9">
                    <span class="btn btn-default btn-file">
                        Browse {{ form.photo }}
                    </span>
                 <button id="cancel_load" class="btn btn-default">Cancel load photo</button>
                    <br>
                    <img id="photo" src="" style="display: none;">
                </div>



        </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="{{ form.contacts.id_for_label }}" class="col-sm-3">Contacts:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="{{ form.contacts.auto_id }}" name="{{ form.contacts.html_name }}">
                    <label class="error"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}" class="col-sm-3">Email:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="{{ form.email.auto_id }}" name="{{ form.email.html_name }}">
                    <label class="error"></label>
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.jabber.id_for_label }}" class="col-sm-3">Jabber:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="{{ form.jabber.auto_id }}" name="{{ form.jabber.html_name }}">
                    <label class="error"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.skype.id_for_label }}" class="col-sm-3">Skype:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="{{ form.skype.auto_id }}" name="{{ form.skype.html_name }}">
                    <label class="error"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.other_contacts.id_for_label }}" class="col-sm-3">Other contacts:</label>
                <div class="col-md-9">
                        {{ form.other_contacts }}
                        <label class="error"></label>
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.bio.id_for_label }}" class="col-sm-3">Bio:</label>
                <div class="col-md-9">
                        {{ form.bio }}
                        <label class="error"></label>
                </div>
            </div>
        </div>
        </div>





        <div class="row">
            <div class="col-md-12">
                <p id="status_save" class="alert alert-info">Saving data...</p>
                <p id="status_load" class="alert alert-info">Loading data...</p>
                <p id="status_error" class="alert alert-danger">Error, please, input correct</p>
                <p id="error_list" class="alert alert-danger"></p>
                <p id="status_success" style="display: none;" class="alert alert-success">Changes have been saved</p>
                <input type="submit" class="btn btn-primary" value="Save">
                <a href="{% url 'about_me' %}">Сancel</a>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <hr class="line">
            <a href="{% url "requests_list" %}">Requests</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script>
    django_urls = {
        about_me: "{% url 'about_me' %}"
    }
    </script>
    <script src="{% static 'js/edit-form.js' %}"></script>
{% endblock %}