.container{
    display: block;
    width: 880px;
    margin: 0 auto;
}
.row{
    padding: 5px 10px;
    margin: 5px 0px;
}
.row:after{
  content: "";
  clear: both;
  display: table;
}
.left{
    float: left;
    width: 430px;
}
.right{
    float: right;
    width: 410px;
    padding: 3px 10px;
}
.logo{
    float: left;
    width: 80%;
}
.login{
    display: block;
    float: right;
    width: 20%;
    padding-top: 25px;
}
img{
    margin-top: 10px;
    max-height: 200px;
    max-width: 200px;
    border: 2px solid black;
}
.priority{
    width: 20px;
    display: none;

}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr td:last-child{
    width: 60px;
}