
.logo{
    float: left;
    width: 80%;
}
.login{
    display: block;
    padding-top: 30px;
}
img{
    margin-top: 10px;
    max-height: 200px;
    max-width: 200px;
    border: 2px solid black;
}
.priority{
    width: 35px;
    display: none;

}
.line{
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

h1 a{
    color: black;
}
.alert{
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#cancel_load{
    margin-top:10px;
    margin-bottom: 10px;
    display: none;
}