{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock title %}Site Name</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" media="screen, projection"/>
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" media="screen, projection"/>
        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <div class="header row"><div class="logo"><h1>42 Coffee Cups Test Assignment</h1></div>
        {% block login %}{% endblock %}
        </div>

        {% block content %}
        {% endblock content %}
{#    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>#}

        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="{% static 'js/jquery-ui.js' %}"></script>
        {% endblock %}
    </body>
</html>
